<h2 class="dashboard-header">Dashboard</h2>
<div class="dashboard-section">
    <div class="existing-posts">
        <h3>Existing Posts:</h3>
        {{#each posts}}
        <div class = "dashboard-single-post" data-blog-id={{id}}>
            <div class="single-post-container">
                <p class="single-post-title">{{post_title}}</p>
                <p class="single-post-content">{{content}}</p>
                <p class="single-post-date">{{date}}</p>
            </div>
            <a href="/editpost/{{id}}"><button>Edit Post</button></a>
            {{!-- <button class="edit-post-button">Edit Post</button> --}}
            <button class="delete-post-button">Delete Post</button>
        </div>
        {{/each}}
    </div> 
    <div class="create-post">
        {{!-- <form action="submit"> --}}
        <h3>Create New Post:</h3>
        <h4>Post Title:</h4>
        <input type="text" id="post-title">
        <h4>Post Content:</h4>
        <textarea name="post-content" id="post-content" cols="50" rows="10"></textarea>
        <button class="create-post-submit-button" id="submit-post-button">Submit</button>
        {{!-- </form> --}}
    </div>
    {{!-- <div class="delete-your-account">
        <form action="submit">
            <button type="submit" class="delete-your-account-button">Delete Your Account</button>
        </form>
    </div> --}}
</div>

<script src="/js/submitPost.js"></script>
<script src="/js/linkBlogs.js"></script>
<script src="/js/delete.js"></script>
{{!-- <script src="/js/editPost.js"></script> --}}
