<div class = "single-post">
    <h2>{{post.post_title}}</h2>
    <p>{{post.content}}</p>
    <p>{{post.date}}</p>
    <p class="posted-by">Posted By: {{post.username}}</p>
</div>
<div class="single-post-comments">
    <h3>Comments:</h3>

    {{#each comments}}
    <div class="individual-comment">
    <p>{{content}}</p>
    <p class="individual-comment-username">Commented By: {{username}}</p>
    <p>{{date}}</p>
    </div>
    {{/each}}

{{#if logged_in}}
    <div class="create-comment">
        <h3>Comment On This Post:</h3>
        <textarea name="comment-content" id="comment-content" cols="50" rows="10"></textarea>
        <button class="create-comment-submit-button" id="submit-comment-button">Submit</button>
    </div>

    <script src="/js/comment.js"></script>
{{/if}}
</div>

